.imagem {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7vh;
}

.ancoras{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7vh;
}

#enviar{
    background-color: var(--h3);
    border-radius: 4px;
    font-size: 18px;
    font-family: Arial, sans-serif;
}

a{
    text-decoration: none;
}